# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
[Bb]in
obj
[Oo]bj
[Dd]ebug*/
[Rr]elease*/

*.unsuccessfulbuild
*.pidb
*.userprefs
*.suo
*.resharper
*.svn
*.sln.DotSettings.user
*.crx
*.pem
*.csproj.user


# mstest test results
TestResults
test-results

#NuGet
packages/

Xamarin/
PushSharp.Sample.LocalTesting/

node_modules/
.idea/
.vs/

settings.json
