<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to PushSharp Web API!</h1>
                <h5>Author: Has at taytechs dot com</h5>

            </hgroup>
            <p>
                This is a test page
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>
            If you can see this page, then your installation is correct and the webApi is ready to receive requests.<br />
            Let's get started..
        </h3>
    </section>
</div>
