<?xml version="1.0" ?>

<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/PushSharp.Web.Secondary.txt" internalLogLevel="Info" internalLogToConsole="true">

  <targets>
    <target name="filelog" type="File" fileName="${basedir}/App_Data/PushSharp.Web.log" layout="${date:format=dd-MM-yyy HH\:mm\:ss}   ${level}    ${message} ${newline}${stacktrace}${newline}" />
    <target name="consolelog" type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="filelog" />
    <logger name="*" minlevel="Info" writeTo="consolelog" />
  </rules>

</nlog>